<div class="row mt-3">
	<p class="text-start" style="margin-top: 15px; margin-left: 10px">
		A SNOMED CT enabled clinical data analytics demonstrator using FHIR terminology services.
	</p>
</div>
<div class="row justify-content-center">
	<div class="card mb-2 m-2" style="max-width: 20rem">
		<div class="card-body">
			<h5 class="card-title">Treatment Comparison</h5>
			<p class="card-text">
				Compare treatment options<br />
				by measuring the correlation between treatments and outcomes
			</p>
			<a routerLink="/treatment-comparison" class="btn btn-primary">Start</a>
		</div>
	</div>
	<div class="card mb-2 m-2" style="max-width: 20rem">
		<div class="card-body">
			<h5 class="card-title">Patient Group Comparison</h5>
			<p class="card-text">
				Identify vulnerable patient groups<br />
				by measuring the correlation between clinical events and patient groups
			</p>
			<a routerLink="/group-comparison" class="btn btn-primary">Start</a>
		</div>
	</div>
	<div class="card mb-2 m-2" style="max-width: 20rem">
		<div class="card-body">
			<h5 class="card-title">Longitudinal Comparison</h5>
			<p class="card-text">Track trends over time</p>
			<a routerLink="/longitudinal-comparison" class="btn btn-primary">Start</a>
		</div>
	</div>
</div>
